<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Huli</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' =>
      true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="col-md-4"></div>
<div class="col-md-4">
  <h1>Add New Team</h1>
  <%= render 'teamform' %>
</div>
<div class="col-md-4"></div>
</body>
</html>